@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F8FAFC;
  /* padding-top: 40px; */
}

/* Ajusta el layout interno de react-multi-date-picker */
/* .rmdp-wrapper {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  width: 100% !important;
}

.rmdp-calendar {
  flex: 1 1 45% !important; // cada calendario ocupa 45% del ancho 
  min-width: 250px !important; // no se achican demasiado 
  max-width: 100% !important;
} */